.accordion {
    /** Установить свои значения */
    $radius: 4;
    $icon-size: 24;
  
    // .accordion__item
    &__item {
      /** Установить свои значения */
   
      transition: 0.3s ease-in-out;
  
      &:not(:first-of-type) {
        
      }
  
      &:first-of-type {
        
      }
  
      &:last-of-type {
        
      }
  
      &.open {
        .accordion__header {
          /** Установить свои значения */
          
          
  
          &::before {
            transform: rotate(180deg);
          }
        }
  
        .accordion__content {
          height: max-content;
  
          /** Установить свои значения */
          padding: rem(28) rem(1);
        }
      }
    }
  
    // .accordion__header
    &__header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
  
      /** Установить свои значения */
      padding: rem(8);
      transition: background 0.3s ease-in-out;
  
      &:hover {
        background: rgba(#fff, 2%);
      }
  
      &:active {
        background: rgba(#fff, 5%);
      }
      &::before{
          content: '';
          position: absolute;
          right: 7.5px;
        width: 16px;
        height: 2px;
        transform: rotate(90deg);
        background-color: #000;
        transition: transform 0.6s ease-in-out;
      }
      &::after{
        content: '';
        width: 17px;
        height: 2px;
        transform: rotate(0deg);
        background-color: #000;
        transition: transform 0.6s ease-in-out;
      }

    }
  
    // .accordion__content
    &__content {
      height: 0;
      overflow: hidden;
  
      /** Установить свои значения */
      padding: 0 rem(8);
      transition: all 0.3s ease-in-out;
    }
  }