.svg-searchh-dims {
  width: rem(20);
  height: rem(20);
}
.svg-shopping-bag_enabled-dims {
  width: 27px;
  height: 27px;
}
.svg-shopping-bag-dims {
  min-width: 25px;
  min-height: 25px;
}
.svg-edit-dims { 
  width: 20px;
  height: 20px;
  fill: rgb(171, 171, 171);
}
.svg-angle-left-dims {
}

.svg-shopping-bag-dims {
  width: rem(18);
  height: rem(22);
}
.svg-close-basket-dims {
  width: 24px;
  height: 24px;
}
.svg-angle-right-dims {
  width: 24px;
  height: 24px;
}
.svg-shopping-bag_enabled-dims {
  width: 27px;
  height: 27px;
}
.svg-shopping-bag-dims {
  min-width: 25px;
  min-height: 25px;
}
.svg-edit-dims {
  width: 20px;
  height: 20px;
  fill: rgb(171, 171, 171);
}
.svg-angle-left-dims {
}
.svg-angle-down-dims {
  width: 24px;
  height: 24px;
}
.svg-twiter-dims {
  width: 20px;
  height: 16px;
}
.svg-trash-alt-dims {
  width: 19px;
  height: 18px;
}
.svg-done-dims {
  width: 20px;
  height: 20px;
}
.svg-copy-dims{
  width: 20px;
  height: 22px;
}
.svg-exclamation-octagon-dims{
  width: 24px;
  height: 24px;
}
.svg-mail-dims {
  width: 85px;
  height: 47px;
}
.svg-searchh-dims {

}
.svg-filter-dims {
  width: 24px;
  height: 24px;
}
.svg-arrow-down-dims {
  width: 32px;
  height: 32px;
}
