.top {
  @include adaptiveClamp('margin-bottom', 50, 20);
  &__container {
    @include adaptiveClamp('height', 850, 500);
    position: relative;
    overflow: hidden;
  }
  &__img {
    position: absolute;
    &-cow { 
      @include adaptiveClamp('width', 388, 190);
      transform: rotate(20deg);
      left: -60px;
      @include adaptiveClamp('top', 333, 280);
    }
    &-tshirt {
      @include adaptiveClamp('width', 257, 150);
      @include adaptiveClamp('height', 282, 176);
      @include adaptiveClamp('left', 207, -20);
    }
    &-cap {
      @include adaptiveClamp('width', 257, 150);
      @include adaptiveClamp('height', 282, 176);
      top: 50px;
      right: 0;
    }
    &-sublogo {
      @include adaptiveClamp('width', 227, 147);
      @include adaptiveClamp('top', 152, 118);
      @include adaptiveClamp('left', 651, 68);
    }
    &-logo {
      @include adaptiveClamp('top', 192, 158);
    }
    &-frog {
      @include adaptiveClamp('width', 500, 200);
      @include adaptiveClamp('height', 450, 300);
      @include adaptiveClamp('top', 325, 280);
      right: -25px;
      @media (max-width: 1024px) {
        right: -80px;
      }
    }
    img {
      width: 100%;
    }
  }
  &__btn {
    @include adaptiveClamp('top', 473, 210);

    @include adaptiveClamp('left', 568, 5);

    padding: 24px 40px;
    width: 280px;
    height: 68px;
    font-size: 17px;

    transform: rotate(-3deg);

    &-cap {
      width: 84px;
      height: 74px;
      right: -20px;
      bottom: -30px;
    }
    &-tshirt {
      width: 94px;
      height: 94px;
      left: -20px;
      top: -30px;
    }
  }
}
.shop-now-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-weight: 400;
  text-transform: uppercase;
  border: 6px solid rgb(255, 255, 255);
  border-radius: 40px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(82, 82, 82),
    rgb(40, 40, 40) 100%
  );
  transition: background 0.5s ease;
  &__cap {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
  }
  &__tshirt {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
  }
  &:hover {
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgb(128, 128, 128),
      rgb(40, 40, 40) 100%
    );
    img {
      opacity: 1;
    }
  }
}
