.footer {
    padding-bottom: 30px;
    // .footer__container
  
    &__container {
      padding: 20px;
      background-color: #fff;
      border-radius: 50px;
      @include media-mx(1024) {
        margin-right: 15px;
        margin-left: 15px;
      }
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      @include media-mx(1024) {
        flex-direction: column;
        align-items: center;
        border-radius: 30px;
      }
    }
  
    // .footer__img
  
    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 634px;
      height: 504px;
      background-image: url('@img/footer.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  
      position: relative;
      @include media-mx(1024) {
        width: 100%;
        background-image: url('@img/footer-1024.png');
        background-size: contain;
      }
      @include media-mx(768) {
        background-image: url('@img/footer-768.png');
      }
      @include media-mx(500) {
        background-image: url('@img/footer-500.png');
      }
  
      p {
        padding-top: 30px;
        max-width: 361px;
  
        text-align: center;
        font-size: 21px;
        line-height: 28, 21;
        font-family: var(--secondary-font-family);
  
        @include media-mx(500) {
          display: none;
        }
      }
    }
  
  }