.description {
    display: flex;
  
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  
    &__wrapper {
      max-width: 603px;
      @include media-mx(1024) {
        max-width: 698px;
      }
    }
    // .description__title
  
    &__title {
      font-size: 40px;
      font-weight: 400;
      line-height: prc(44, 40);
      margin-bottom: 30px;
      text-transform: uppercase;
      text-align: center;
  
      @include media-mx(1024) {
        font-size: 30px;
      }
      @include media-mx(500) {
        font-size: 24px;
      }
      span {
        color: var(--primary-color);
      }
    }
  
    // .description__text
  
    &__text {
      font-family: var(--secondary-font-family);
      font-weight: 400;
      margin-bottom: 35px;
      line-height: prc(24, 15);
      @include media-mx(1024) {
        text-align: center;
      }
    }
  
    // .description__link
  
    &__link {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      background-color: var(--primary-color);
      border-radius: 150px;
      padding: 20px 40px;
      text-transform: uppercase;
      color: #081c00;
      @include media-mx(500) {
        display: flex;
        justify-content: center;
        max-width: 100%;
        padding: 10px 20px;
      }
    }
  }