.token-spoiler {
    max-width: 312px;
    margin-left: 3px;
    @include media-mx(1024) {
      margin-left: auto;
      margin-right: auto;
    }
  
    &__header {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 8px;
      padding: 20px 40px;
      background-color: var(--primary-color);
      border-radius: 150px;
      p {
        font-size: 15px;
        line-height: prc(24, 15);
      }
      @media (max-width: 390px) {
        padding: 10px 15px;
      }
    }
    &__body {
      width: 100%;
      a {
        display: block;
        text-align: center;
        color: #081c00;
      }
    }
  }