.menu {
    margin: 0 auto;
    // .menu__list
  
    &__list {
      max-width: min-content;
      border-radius: 150px;
      background: var(--white-color);
      padding: rem(4);
      display: flex;
      align-items: center;
      justify-content: center;
      @include media-mx(1024) {
        display: none;
      }
    }
  
    // .menu__item
  
    &__item {
      width: rem(99);
      height: rem(44);
      padding: rem(12) rem(16);
      border-radius: rem(40);
      color: rgb(8, 28, 0);
  
      transition: all 0.5s;
      display: flex;
      justify-content: center;
      align-items: center;
  
      &-active {
        background-color: rgb(8, 28, 0);
        a {
          color: var(--white-color);
        }
      }
    }
  
    // .menu__link
  
    &__link {
      font-size: 17px;
      line-height: prc(20, 17);
      text-transform: uppercase;
      font-weight: 400;
      color: rgb(8, 28, 0);
      transition: all 0.5s;
    }
  }