.basket {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    
    &__title {
      font-size: 20px;
      font-weight: 400;
      line-height: prc(24, 20);
      text-transform: uppercase;
      text-align: center;
    }
    &__empty {
      font-size: 33px;
      line-height: prc(44, 33);
      text-align: center;
      text-transform: uppercase;
    }
    &__info {
      margin-top: auto;
    }
    &__price {
      border-radius: 20px;
      background: rgb(245, 245, 245);
      padding: 28px 16px;
    }
    &__btn {
      margin-top: 8px;
      border-radius: 150px;
  
      background: rgb(135, 228, 100);
      padding: 12px 40px 12px 40px;
      text-transform: uppercase;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      color: black;
    }
    &__policy {
      margin-top: 20px;
      font-size: 14px;
      font-weight: 400;
      line-height: prc(24, 14);
      max-width: 228px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      a {
        color: #87e464;
      }
    }
  
    &__box {
      @include media-mx(768) {
        width: 100%;
        height: 100%;
        right: 0;
        bottom: 0;
        top: 0;
        
      }
    }
    &__wrapper {
      display: flex;
      position: relative;
      flex-direction: column;
      padding: 30px 20px;
      border-radius: 30px;
      min-width: 395px;
      background: rgb(255, 255, 255);
      overflow-y: auto;
      height: 100%;
      @include media-mx(768) {
        border-radius: 0;
        min-width: 300px;
      }
    }
    &__close-btn {
      background-color: transparent;
      position: absolute;
      top: 26px;
      right: 26px;
    }
  
    &__list {
      margin-top: 32px;
    }
  
    // .basket__item
  
    &__item {
    }
  }