.discount {
    display: flex;
    justify-content: space-between;
    // .discount__title
  
    &__title {
      font-family: 'Poppins';
      font-size: 15px;
      line-height: prc(20, 15);
      text-transform: uppercase;
      font-weight: 500;
    }
  
    // .discount__value
  
    &__value {
      color: #87e464;
    }
  }
  .total-price,
  .shipping {
    display: flex;
    justify-content: space-between;
  
    // .total-price__title
  
    &__title {
      font-family: 'Poppins';
      font-size: 15px;
      line-height: prc(20, 15);
      text-transform: uppercase;
      font-weight: 500;
    }
  
    // .total-price__value
  
    &__value {
    }
  }