.product-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    // .product-info__wrapper

    &__wrapper {
        border-radius: 20px;
        background: rgb(245, 245, 245);
        padding: 28px;
        
    }

    // .product-info__title

    &__title {
        text-transform: uppercase;
        font-family:'Krona One';
font-size: 20px;
font-weight: 400;
line-height: 24px;
@include media-mx(400) {
    font-size: 15px;

}
    }

    // .product-info__text

    &__text {
        font-family: 'Poppins';
font-size: 15px;
font-weight: 400;
line-height: 24px;
    }
}
.accordion {

    // .accordion__item

    &__item {
    }

    // .accordion__header

    &__header {
    }

    // .accordion__content

    &__content {
    }
}
